<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
  </head>
<body>  
    {% include 'navbar.html' %}
    <div style="margin-top:66px"></div>
    <div style="margin-top: 70px;"></div>

    <div class="d-flex" id="wrapper">
      <!-- sidebar start here-->
      {% include 'sidebar.html' %}
      <!-- sidebar ends here -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                <h2 class="fs-2 m-0">Dashboard</h2>
            </div>

            <div class="navbar-collapse">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <a class="nav-link second-text fw-bold text-secondary" aria-expanded="false">
                            <i class="fas fa-user me-2 text-secondary"></i>{{details['name']}}
                        </a>   
                </div>
            </div>
        </nav>

        <div class="container-fluid px-4">
            <div class="row g-3 my-2 justify-content-between">
                <div class="col-md-3">
                    <div class="p-3 bg-dark shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">{{ card_data['count_products'] }}</h3>
                            <p class="fs-5">Products</p>
                        </div>
                        <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-dark shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">{{ card_data['count_customers'] }}</h3>
                            <p class="fs-5">Customers</p>
                        </div>
                        <i
                            class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-dark shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">Rs.{{ card_data['total_sales'] }}</h3>
                            <p class="fs-5">Total sales</p>
                        </div>
                        <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
            </div>

            <h3 class="fs-4 my-3">Analytics Graphs:</h3>
            <div style="display: flex; justify-content: space-around;">
                <div style="flex: 1;">
                    <canvas id="chart1"></canvas>
                </div>
            </div>
            

            <div class="row my-2">
                <h3 class="fs-4 mb-3">Recent Orders</h3>
                <div class="col">
                    <table class="table bg-white rounded shadow-sm  table-hover">
                        <thead>
                            <tr>
                                <th scope="col" width="100">Order No.</th>
                                <th>Order ID</th>
                                <th scope="col">Product ID</th>
                                <th scope="col">Total Sales</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for detail in sales_report %}
                            {% include 'orders_report.html' %}
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')  }}"></script>
    <script>
        const ctx1 = document.getElementById('chart1');
        
        const parsedLabels1 = JSON.parse('{{ graph_val["x_values_g1"] | tojson | safe }}');
        const parsedData1 = JSON.parse('{{ graph_val["y_values_g1"] | tojson | safe }}');

new Chart(ctx1, {
  type: 'bar',
  data: {
    labels: parsedLabels1,
    datasets: [{
      label: 'Quantity of Product in Stock',
      data: parsedData1,
      backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)'
        ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});
    </script>
    <script>
      var el = document.getElementById("wrapper");
      var toggleButton = document.getElementById("menu-toggle");

      toggleButton.onclick = function () {
          el.classList.toggle("toggled");
      };
  </script>
</body>
</html>