<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Data</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div style="margin-top: 70px;"></div> 
    <div class="d-flex" id="wrapper">
    {% include 'sidebar.html' %}
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                <h2 class="fs-2 m-0">Issue a new order</h2>
            </div>

            <div class="navbar-collapse">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                        <a class="nav-link second-text fw-bold text-secondary" aria-expanded="false">
                            <i class="fas fa-user me-2 text-secondary"></i>{{details['name']}}
                        </a>
                   
                      </div>
            </div>
        </nav>
        <div class="container-fluid px-4">
        <div class="row my-1">
            <div style="display: flex; justify-content: flex-start;">
                <h3 class="fs-3 pt-1" style="color: yellow;">Add New Product: </h3>
                    <form class="d-flex m-1 mb-2" role="search" action="/{{ details['owner_id'] }}/{{ details['name'] }}/add-product" method="post">
                    <input class="form-control me-2" type="text" name="prod-name" placeholder="Product Name" aria-label="Enter product name">
                    <input class="form-control me-2" type="number" name="prod-price" placeholder="Product Price" aria-label="Enter product price">
                    <input class="form-control me-2" type="number" name="prod-quantity" placeholder="Product Quantity" aria-label="Enter product quantity">
                    <input class="form-control me-2" type="text" name="prod-img" placeholder="Product Image Name" aria-label="Enter product img">
                
                    <button class="btn btn-outline-success" type="submit">Add</button>
                    </form>
            </div>
        
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for product in product_data %}
                    {% include 'product_card.html' %}
                {% endfor %}
            </div>
        
        </div>
        <h2 class="fs-2 m-0">Enter the customer details:</h2>


        <!-- customer form start here -->
        <form class="row g-3 mt-3">
          <div class="col-md-6">
            <label for="inputName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="inputName">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Address Line</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>Andhra Pradesh</option>
                <option>Arunachal Pradesh</option>
                <option>Assam</option>
                <option>Bihar</option>
                <option>Chhattisgarh</option>
                <option>Goa</option>
                <option>Gujarat</option>
                <option>Haryana</option>
                <option>Himachal Pradesh</option>
                <option>Jharkhand</option>
                <option>Karnataka</option>
                <option>Kerala</option>
                <option>Madhya Pradesh</option>
                <option>Maharashtra</option>
                <option>Manipur</option>
                <option>Meghalaya</option>
                <option>Mizoram</option>
                <option>Nagaland</option>
                <option>Odisha</option>
                <option>Punjab</option>
                <option>Rajasthan</option>
                <option>Sikkim</option>
                <option>Tamil Nadu</option>
                <option>Telangana</option>
                <option>Tripura</option>
                <option>Uttar Pradesh</option>
                <option>Uttarakhand</option>
                <option>West Bengal</option>
            </select>

          </div>
          <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="col-12">
            <button type="button" id="issue-order-button" class="btn btn-primary btn-lg mt-1 mb-3">Issue Order</button>
          </div>

          <!-- customer form ends here -->
        </form>
        </div>
    </div>
    </div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')  }}"></script>
<script>
    $(document).ready(function(){
  $("#issue-order-button").click(function(){
    let quantities = {};
    let customer_details = {};
    $(".quantity-input").each(function(){
      let prod_id = $(this).data("prod-id");
      let quantity = $(this).val();
      if (quantity) {
        quantities[prod_id] = quantity;
      }
    });

    let customer_name = $("#inputName").val();
    let customer_email = $("#inputEmail4").val();
    let customer_address = $("#inputAddress").val();
    let customer_city = $("#inputCity").val();
    let customer_state = $("#inputState").val();
    let customer_zip = $("#inputZip").val();

    let payload = {
      quantities: quantities,
      customerDetails: {
        name: customer_name,
        email: customer_email,
        address: customer_address,
        city: customer_city,
        state: customer_state,
        zip: customer_zip
      }
    };

    
    let owner_id = "{{ details['owner_id'] }}";
    let owner_name = "{{ details['name'] }}";

    $.ajax({
      url: `/${owner_id}/${owner_name}/place_order`,
      type: "POST",
      data: JSON.stringify(payload),
      contentType: "application/json",
      success: function(response){
        if(response.status === "success"){
          alert("Order successfully placed.");
          // Reload the page after 2 seconds
          setTimeout(function(){ location.reload(); }, 1);
        } else if (response.status === "stock") {
          alert("Something ran out of stock! Restocked by 100 units and order placed. Check dashboard for new stock levels")
          setTimeout(function(){ location.reload(); }, 1);
        } else if (response.status === "failed") {
          alert("Something failed at the server/browser")
          setTimeout(function(){ location.reload(); }, 1);
        }
      }
    });
  });
});
</script>
</body>
</html>

